{# app/Resources/views/layout.html.twig #}

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% block title %}MonCampus{% endblock %}</title>

  {% block stylesheets %}
    {# On charge le CSS de bootstrap depuis le site directement #}
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  {% endblock %}
</head>

<body>
  <div class="container">
    <div id="header" class="jumbotron">
      <p>
        <a class="btn btn-primary btn-lg" href="{{ path('mc_event_home') }}">
		Calendrier
        </a>
		<span class="btn btn-primary btn-lg">
		Clubs&Assos
		</span>
		<span class="btn btn-primary btn-lg">
		Inscription
		</span>
      </p>
    </div>
  

  <hr>

  <div class="row">
    <div id="menu" class="col-md-3">
	{% block menu %}
	{% endblock%}
	</div>
	<div id="content" class="col-md-9">
	{% block body %}
	{% endblock %}
	</div>
    
    <hr>
   </div>
   </div>

  {% block javascripts %}
    {# Ajoutez ces lignes JavaScript si vous comptez vous servir des fonctionnalités du bootstrap Twitter #}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  {% endblock %}

</body>
</html>